<!-- Main Navigation -->
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" routerLink="/home">
            <h3>DealOnRent</h3>
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Right -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#!" class="nav-link navbar-link-2 waves-effect">
                        <span class="badge badge-pill">1</span>
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink='/home' class="nav-link waves-effect">
                Shop
              </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link waves-effect">
                Contact
              </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link waves-effect">
                Sign in
              </a>
                </li>
                <li class="nav-item pl-2 mb-2 mb-md-0">
                    <a routerLink="/signup" type="button" class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign
                up</a>
                </li>
            </ul>

        </div>
        <!-- Links -->
    </div>
</nav>
<!-- Navbar -->

<div class="jumbotron color-grey-light mt-70" *ngIf="ishome">
    <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
            <h1 class="mb-3">Rent or Buy on Rent any Product</h1>
            <p class="mb-0">One Space Everthing you need</p>
        </div>
    </div>
</div>
<!-- Main Navigation -->