<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="center_div">
                <br/>
                <form #loginForm="ngForm" class="well" (ngSubmit)="loginUser()">
                    <h3 class=" mt-3 text-center">Login</h3><br>

                    <div class="row">
                        <div class="form-group input-group">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <span> <i class="fa fa-envelope"></i> </span>
                                <input [(ngModel)]="user.email_id " #email_id="ngModel" name="email_id" class="form-control " placeholder="Email address" type="email" required [pattern]="emailRegex">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <div *ngIf="email_id.dirty && !email_id.valid ">
                                <label *ngIf="email_id.errors.required " style="color:red ">Email Address is required. </label>
                                <label *ngIf="email_id.errors.pattern " style="color:red ">Invalid Email Address . </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group input-group">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <span class="input-group-addon"> <i class="fa fa-lock"></i> </span>
                                <input [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" placeholder="Password" minlength="6" maxlength="20" type="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <div *ngIf="password.dirty && !password.valid ">
                                <label *ngIf="password.errors.required " style="color:red ">Password is required </label>
                                <label *ngIf="password.errors.minlength " style="color:red ">Password must be atleast 6 characters</label>
                                <label *ngIf="password.errors.maxlength " style="color:red ">Password must be atmost 20 characters</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <div class="form-group ">
                                <input type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block" value="Login">
                            </div>
                        </div>
                    </div>
                    <p class="text-center"><a routerLink="/forget-password"><i class="fa fa-key"></i> Forget Password?</a></p>
                    <p class="text-center"><label>No Account?</label> <a routerLink="/signup"><i class="fa fa-fw fa-edit"></i>Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>